h1{
    background-color: red;
    color: aqua;

}
p{
    background-color: blue;
    color: aqua;

}
h2{
    background-color: red;
    color: aqua;

}
h3{
    background-color: red;
    color: aqua;
}